.greenBtn {
  font-size: 16px;
  max-width: 129px;
  background-color: #80bf32;
  color: whitesmoke;
  border: none;
  border-radius: 2px;
  padding: 5px 20px 5px 20px;
  transition: all 0.2s ease-in-out;
  height: 40px;
}
.greenBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.greenBtn:active {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
}
