.linkBtn {
  font-size: 16px;
  max-width: 129px;
  color: #f14d54;
  background: white;
  border: none;
  transition: all 0.2s ease-in-out;
}
.linkBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.linkBtn:active {
  transition: all 0.2s ease-in-out;
  transform: scale(0.95);
}
